@import "./Utilities/Variables";

#header {
	height: 60px;
	width: 100%;
	position: relative;
	background: $accent;

	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;

	#navigation {
		width: 100%;
		height: 100%;

		display: flex;
		justify-content: flex-start;
		flex-wrap: nowrap;

		.nav-item {
			height: 100%;
			min-width: 50px;
			padding: 0px 15px;
			background: $accent;
			transition: filter 0.15s;
			box-sizing: content-box;

			h5 {
				font-size: 18px;
				font-family: "Raleway", sans-serif;
				text-align: center;
				line-height: 60px;
				color: $accent;
				filter: brightness(400%);
			}
		}
		.nav-item:hover {
			filter: brightness(85%);
		}
	}
}
#header:after {
	content: '';
	position: absolute;
	height: 3px;
	width: 100%;
	bottom: 0; left: 0;
	background: $accent;
	filter: brightness(85%);	
}